.footer-container {
    @include wrap();
}

.footer {
    background-color: $color2;
    font-family: $fonts;
    font-size: 14px;
    color: $color5;

    &__top {
        padding: 40px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__split {
        height: 1px;
        width: 100%;
        background-color: $color10;
    }

    &__bottom {
        display: flex;
        padding: 40px 0;
        @include container('txt');
    }

    &__bottom-point {
        margin-left: 10px;
        margin-right: 10px;
    }

    &__bottom-point:first-child {
        margin-left: 0;
    }

    &__bottom-point:last-child {
        margin-right: 0;
    }

    &__bottom-point--c:before {
       content: '\00A9';
       margin-right: 3px;
    }

    &__bottom-link {
        color: $color5;
        cursor: pointer;
        &:hover {
            color: $color1;
        }
    }
}


/* --- анимация */
.footer__top.an--active {@include animates('zoomIn', 1.5s);} 
