@mixin wrap() {


    max-width: 1024px;
    min-width: 395px;
    height: 100%;
    padding: 0 15px;
    position: relative;
    margin: 0 auto;
    
    // max-width: 1024px;
    // min-width: calc(100% - 30px);
    // height: 100%;
    // padding: 0 15px;

    // padding-left: 15px; //**
    // padding-right: 15px; //**
    // margin: 0 15px;
    // @media screen and (max-width: 960px) {
    //     padding: 0;
    //     margin: 0 15px;
    // }
}

@mixin title() {
    z-index: 10;
    padding: 56px 0 32px;
    font-family: $fonts-light;
    font-size: 32px;
    // color: $color8;
    font-weight: 300;
    &-link {
        color: $color8;
        text-decoration: none;
        outline: none;
    }
    @media screen and (max-width: 1005px) {
        text-align: center;
    }
}
@mixin button-arrow() {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;

    &:hover {
        cursor: pointer;
        transform: scale(1.03);
    }
    &:active {
        transform: scale(0.95);
    }
}

@mixin button($w, $h) {
    width: $w;
    height: $h;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s;
    &:hover {
        cursor: pointer;
        transform: scale(1.03);
    }
    &:active {
        transform: scale(0.98);
    }
}

@mixin container($x) {
    @if $x == 'btn' {
        @media screen and (max-width: 1005px) {
            justify-content: center;
            flex-wrap: wrap;
            /*всем дочерним классам содержащие в классе btn*/
            &>[class*=btn]{
                margin: 5px;
            }
        }
    }
    @if $x == 'box' {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media screen and (max-width: 1010px) {
            justify-content: space-around; /*IE*/
            justify-content: space-evenly; 
        }
    }
    @if $x == 'txt' {
        justify-content: space-between;
        @media screen and (max-width: 1005px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

}





// @mixin media-hidden-elem($x) {
//     @if $x == 'display-none' {
//         @media screen and (max-width: 960px) {
//             display: none;

//         }
//     }

// }


/* media-feedmack */
@mixin media-feedback {
    @media screen and (max-width: 960px) {

        &__point-ico {
            margin-right: 0px;
        }

        &__point {
   
            &:hover {
                background-color: $color14;
                border-radius: 4px;
            }
        }

        &__point {
            border: 1px solid #1a6152;
            border-radius: 4px;
            display: flex;
            width: 30px;
            height: 30px;
            margin-right: 5px;
            justify-content: center;
        }

        &__point-link {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
        }




        &__point-tit {
            display: none;
        }
    }
}

/* слайдер */
@mixin media-headslider {
    @media screen and (max-width: 960px) {
        &__ind {
            bottom: 10px;
        }
        &__logo {
            margin-right: 20px;
        }
    }

    &__page-tit {
        @media screen and (max-width: 960px) {
            font-size: 3rem;
        }
        @media screen and (max-width: 600px) {
            font-size: 2rem;
        }
    }
}


/* header */
@mixin media-header {
    @media screen and (max-width: 960px) {

        &__nav { 
            .nav-container {
                margin: 0;
            }
        }

        &__menu { 
            justify-content: flex-start;
            align-items: center;
            height: calc(100% - 30px);
        }

        &__menu-link {
            margin-right: 10px;
            &--additional {
                display: none;
            }
        }

        &__menubar {
            display: flex;
            justify-content: baseline;
        }
    }

    // @media only screen and (max-width: 960px) and (orientation:landscape) {
    //     position: unset;
    // }

}



