
$color1: #ffffff;
$color2: #333333; /*тёмно-серый*/
$color3: #f2f2f2; /*серый 10*/
$color4: #e6e6e6; /*серый 9*/
$color5: #999999; /*серый 8*/


$color6: #4cb050; /*зелёный*/
$color7: #8cc63f; /*светло-зелёный*/
$color8: #008e70; /*зелёный-голубой*/

$color9: #cccccc; /*серый 8*/
$color10: #4d4d4d;


$color11: rgba(51, 51, 51, 0.0); /* полупрозрачный серый*/
$color12: rgba(51, 51, 51, 0.9); /* полупрозрачный серый*/

$color13: rgba(51, 51, 51, 0.8); /* полупрозрачный серый*/

$color14: #293c37; /*контакт-иконки*/

$fonts: 'PT Sans', sans-serif;
$fonts-light: 'PT Sans', sans-serif;
