/* header/header.scss */
.feedback-container, .nav-container, .headslider-container {
    @include wrap();
}
.headslider-wrap {
    @include wrap();
}
.header {
    // @include canvas();
    height: 123px; /* 50+43+15+15*/
    font-family: $fonts;
    font-size: 12px;

    &__feedback {
        color: $color1;
        background-color: $color2;
    }

    &__logo-img {}
    &__nav {
        display: flex;
        font-size: 14px;
        height: 73px;
        opacity: 0.6;
        // background-color: $color2;
    }

    &__menu {
        margin-top: 15px;
        &::after {
            content: '';
            clear: left;
        }

    }
    &__menu-link {
        color: $color1;
        margin-right: 32px;
        text-decoration: none;
        &:hover {
            color: $color6;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    &__logo {
        margin-top: 15px;
        margin-right: 32px;
        display: inline-block;
        float: left;

    }
}


/* header/feedback/feedback.scss */
.feedback {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 50px;
    &__point {
        height: 20px;
        margin: 15px 32px 15px 0;
        display: flex;
        align-items: center;
    }
    &__point-ico {      
    }
    &__point-link {
        color: $color1;
        text-decoration: none;
        &:hover {
            color: $color8;
        }
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color6;
        width: 232px;
        height: 50px;
        margin-left: auto;

        &:hover {
            background-color: $color7;
        }
        &:hover {
            cursor: pointer;
        }        
        &:hover .feedback__btn-ico {
            display: none;
        }
        &:hover .feedback__btn-ico--hover {
            display: flex;
        }
    }
    &__btn-ico {}
    &__btn-ico--hover {
        display: none;
    }
    &__btn-name {}
    [class*="-ico"] { /* всем в родителе кто содержит -ico */
        margin-right: 16px;
    }
}



/* header/header-slider/header-slider.scss */
.headslider {
    
    background-position-y: -45px;
    margin-top: -73px; /*высота навигации*/
    height: 750px;
    color: $color1;
    z-index: 2;
    &__pages {
        width: 100%;
        height: 100%;
    }
    &__btn {}
    &__btn-left {}
    &__btn-right {}
    &__ind {}
    &__ind-dot {}
    &__ind-dot--active {}
    &::before {
        // content: '';
        // display: block;
        // width: 100%;
        // height: 677px; /* 800-123 */
        // background-color: rgba(51, 51, 51, 0.6);
        // position: absolute;
        // top: 123px; /* высота родительского блока*/
        // z-index: 0;
    }
}

/* header/header-slider/header-page/header-page.scss */
.headslider-page {
    background: url("../img/1st-screen-1920x1080-dark.jpg") no-repeat;
    width: 100%;
    height: 100%;
    display: none;
    &::after {
        // content: '';
        // display: block;
        // width: 100%;
        // height: 100%;
        // background-color: rgba(51, 51, 51, 0.6);
        // position: absolute;
        // top: 50px;
    }
    &__tit {}
    &__date {}
    &__btn {}
    &--active {
        display: block;
    }
}


/*
header-container {}
headslider-container {}

header {
    &__feedback {}
    &__menu {}
    &__logo-img {}
    &__nav {}
    &__nav-link {}
    &__logo {}
}

feedback {
    &__point {}
    &__point-ico {}
    &__point-link {}
    &__button {}
    &__btn-ico {}
    &__btn-ico--hover {}
    &__btn-name {}
}

headslider {
    &__pages {}
    &__btn {}
    &__btn-left {}
    &__btn-right {}
    &__ind {}
    &__ind-dot {}
    &__ind-dot--active {}
}

headslider-page {
    &--active {}
    &__tit {}
    &__date {}
    &__btn {}
}

*/


