.headslider-container {
    @include wrap();
    position: relative;
}

.headslider-wrap {
    @include wrap();
}

.headslider {
    background: url("../img/1st-screen-1920x1080-dark.jpg") no-repeat center center;
    background-color: $color15;
    background-position-y: -45px;
    height: 670px;
    margin-top: -73px; /*высота навигации*/
    color: $color1;
    font-family: $fonts;

    &__ind {
        left: 62px;
        position: absolute;
        z-index: 1;
        bottom: 76px;
    }

    .headslider__dot {
        border: 2px solid $color1;
        display: inline-block;
        height: 8px;
        margin: 0px 5px 0 0px;
        width: 8px;
        border-radius: 50%;
        transition: background ease-in-out .5s;
        cursor: pointer;

        &.active {
            background-color: $color1; 
        }
    }

    &__box {
        height: inherit;
        position: relative;
        width: inherit;
        margin: 0 46px;
    }

    &__page {
        width: calc(100% - 92px); /* - ширина боковых кнопок 46 46 */
        height: 100%;
        opacity: 0;
        position: absolute;
        z-index: 0;
        transform: scale(1.08, 1);
        transition: transform ease-in-out .5s, opacity ease-in-out .5s;

        &.active {
            opacity: 1;
            z-index: 1;
            transform: scale(1);
        }
    }


    &__btn {
        height: 100%;
        position: absolute;
        z-index: 2;
        align-items: center;
        top: 155px;
        height: auto;
        display: flex;
        border: none;
        background-color: rgba(0,0,0,0);
        padding: 50px 10px;
        transition: .3s;
        outline: none;

        &--left {
            left: 5px;
        }

        &--right {
            right: 5px;
        }

        &:hover {
            cursor: pointer;
            background-color: rgba(0,0,0,.1);
            transform: scale(1.03);
        }

        &:active {
            transform: scale(0.95);
        }

        &:active &-ico {
            display: none;
        }

        &:active &-ico--active {
            display: flex;
        }
    }

    &__btn-ico {
        display: flex;
    }

    &__btn-ico--active {
        display: none;
    }

    &__page-tit {
        font-weight: 300;
        color: $color1;
        font-size: 56px;
        padding-top: 150px;
    }

    &__page-date {
        font-size: 18px;
        font-weight: 100;
        margin: 41px 0 51px;
    }

    &__page-btn {
        @include button(230px, 58px);
        border: 1px solid $color1;
        font-size: 12px;
        &:hover {
            border: 1px solid $color6;
            background-color: $color6;
            cursor: pointer;
        }
    }

    &__arrowdown {
        position: absolute;
        bottom: 25px;
        left: 62px;
        z-index: 1;
    }

    
    @include media-headslider;
}



/* --- анимация */

// .headslider__page-tit.an--run {@include animates('zoomIn', 1s);} 
// .headslider__page-date.an--run {@include animates('lightSpeedIn', 1.5s);} 
// .headslider__page-btn.an--run {@include animates('jackInTheBox', 1s);}
// .headslider__arrowdown.an--run {@include animates('swing', 1s);} 
// .headslider__ind.an--run {@include animates('zoomIn', 1s);} 




