.services-container {
    @include wrap();
}

.services {
    background-color: $color3;

    &__title {
        @include title();

    }

    &__items {
        @include container('box');
        padding-bottom: 56px;
    }

    &__item {
        transition: .3s;
        display: flex;
        align-items: center;
        width: 318px; 
        height: 100px;
        border-left: 1px solid rgb(242, 242, 242);
        border-right: 1px solid rgb(242, 242, 242);
        margin-bottom: 32px;
        background-color: $color1;
        cursor: pointer;

        &:hover {
            background-color: $color8;
            color: $color1;
        }

        &:hover .services__item-ico {
            display: none;
        }

        &:hover .services__item-ico--hover {
            display: block;
        }

        &:hover .services__item-price {
            display: block;
        }

    }
    
    &__item-img {
        margin: 0 32px;
        width: 56px;
    }

    &__item-ico {
        display: block;
    }

    &__item-ico--hover {
        display: none;
    }

    &__item-name {}

    &__item-price {
        display: none;
        position: absolute;
        &:after {
            content: '\20BD';
            margin-left: 5px;
        }
    }
}



/* --- анимация */
.services__title.an--active {@include animates('lightSpeedIn', 1.5s);} 
.services__item.an--active {@include animates('jackInTheBox', 1.5s);} 
.services__item-name.an--active {@include animates('lightSpeedIn', 1s);} 
.services__item-ico.an--active {@include animates('swing', 1.5s);} 

.services {
    &__item {
        &:active {
            transform: scale(0.97);
        }
        &:hover .services__item-price {
            @include animates('bounce', 1.3s);
        }
    }
}