/* content/about/about.scss*/
.about {
	height: 400px;
	background: url("../img/about-dark.jpg") no-repeat;
	color: $color1;
}

/* content/about/about-slider/about-slider.scss*/
.about-slider {
    &__pages {}
    &__btn {}
    &__btn-left {}
    &__btn-right {}
    &__ind {}
    &__ind-dot {}
    &__ind-dot--active {}
}