<section class="about">
    <div class="about-slider">
        <div class="about-slider__pages">
            <div class="about-page about-page--active">
                <h2 class="about-page__tit">О НАС</h2>
                <div class="about-page__ctn">Стоматология "Инсаюр Медикал - Дента" была создана в 1995 году, и с самого начала существования ключевыми принципами нашей работы были формирование долгосрочных взаимоотношений с клиентами, решение их проблем как своих собственных.</div>
            </div>
            <div class="about-page">
                <h2 class="about-page__tit">О НАС</h2>
                <div class="about-page__ctn">Стоматология "Инсаюр Медикал - Дента" была создана в 1995 году, и с самого начала существования ключевыми принципами нашей работы были формирование долгосрочных взаимоотношений с клиентами, решение их проблем как своих собственных.</div>
            </div>
            <div class="about-page">
                <h2 class="about-page__tit">О НАС</h2>
                <div class="about-page__ctn">Стоматология "Инсаюр Медикал - Дента" была создана в 1995 году, и с самого начала существования ключевыми принципами нашей работы были формирование долгосрочных взаимоотношений с клиентами, решение их проблем как своих собственных.</div>
            </div>
        </div>
        <div class="about-slider__btn">
            <i class="about-slider__btn-left"></i>
            <i class="about-slider__btn-right"></i>
        </div>
        <div class="about-slider__ind">
            <div class="about-slider__ind-dot about-slider__ind-dot--active"></div>
            <div class="about-slider__ind-dot"></div>
            <div class="about-slider__ind-dot"></div>
        </div>
    </div>
</section>