<section class="about">
    <div id="aboutslider" class="aboutslider">

        <button class="aboutslider__btn aboutslider__btn--left">
            <img src="img/svg/arrow-1st-screen-left.svg" class="aboutslider__btn-ico" alt="icon">
            <img src="img/svg/arrow-green-left.svg" class="aboutslider__btn-ico aboutslider__btn-ico--hover" alt="icon">
        </button>

        <button class="aboutslider__btn aboutslider__btn--right">
            <img src="img/svg/arrow-1st-screen-right.svg" class="aboutslider__btn-ico" alt="icon">
            <img src="img/svg/arrow-green-right.svg" class="aboutslider__btn-ico aboutslider__btn-ico--hover" alt="icon">
        </button>
    
        <div class="aboutslider__box">
            <div class="aboutslider__page active">
                <h2 class="aboutslider__page-tit an">О НАС</h2>
                <div class="aboutslider__page-ctn an">Стоматология "Инсаюр Медикал - Дента" была создана в 1995 году, и с самого начала существования ключевыми принципами нашей работы были формирование долгосрочных взаимоотношений с клиентами, решение их проблем как своих собственных.</div>
            </div>
            <div class="aboutslider__page">
                <h2 class="aboutslider__page-tit an">О НАС (2)</h2>
                <div class="aboutslider__page-ctn an">Стоматология "Инсаюр Медикал - Дента" была создана в 1995 году, и с самого начала существования ключевыми принципами нашей работы были формирование долгосрочных взаимоотношений с клиентами, решение их проблем как своих собственных..</div>
            </div>
            <div class="aboutslider__page">
                <h2 class="aboutslider__page-tit an">О НАС (3)</h2>
                <div class="aboutslider__page-ctn an">Стоматология "Инсаюр Медикал - Дента" была создана в 1995 году, и с самого начала существования ключевыми принципами нашей работы были формирование долгосрочных взаимоотношений с клиентами, решение их проблем как своих собственных...</div>
            </div>
        </div>

        <div class="aboutslider__ind an">
            <div class="aboutslider__dot active"></div>
            <div class="aboutslider__dot"></div>
            <div class="aboutslider__dot"></div>
        </div>

    </div>
</section>

