<section class="reviews">
    <div class="reviews-container">
        <h2 class="reviews__title">ОТЗЫВЫ О НАШЕЙ РАБОТЕ</h2>

        <div class="reviews-box">
            <div class="reviews-box__arrow">
                <img src="img/svg/arrow-green-left.svg" class="reviews-box__arrow-ico" alt="">
            </div>
            <div class="reviews-box__item reviews-box__content">
                «Лечение кариеса проводится с использованием особо «щадящих» технологий. В расположении врача имеется необходимый набор современных инструментов, с помощью которых врач тщательно обрабатывает полость зуба, снимая пораженные ткани»
                <div class="reviews-box__content-author">Светлана Сорокина</div> 
            </div>
            <div class="reviews-box__arrow">
                <img src="img/svg/arrow-green-right.svg" class="reviews-box__arrow-ico" alt="">
            </div>
        </div>

        <div class="reviews__button">
            <div class="reviews__btn-review">НАПИСАТЬ ОТЗЫВ</div>
            <div class="reviews__btn-allreview">ПРОСМОТРЕТЬ ВСЕ ОТЗЫВЫ</div>
        </div>
    </div>
</section>