<section id="reviews" class="reviews">
    <div class="reviews-container">
        <h2 class="reviews__title an"><a href="#" class="reviews__title-link" name="reviews">ОТЗЫВЫ О НАШЕЙ РАБОТЕ</a></h2>


        <button class="reviews__btn reviews__btn--left">
            <img src="img/svg/arrow-green-left.svg" class="reviews__btn-ico an" alt="icon">
        </button>

        <div class="reviews__box">
            <div class="reviews__page active an">
                «Лечение кариеса проводится с использованием особо «щадящих» технологий. В расположении врача имеется необходимый набор современных инструментов, с помощью которых врач тщательно обрабатывает полость зуба, снимая пораженные ткани»
                <div class="reviews__page-author">Светлана Сорокина</div> 
            </div>
            <div class="reviews__page">
                «Лечение кариеса проводится с использованием особо «щадящих» технологий. В расположении врача имеется необходимый набор современных инструментов, с помощью которых врач тщательно обрабатывает полость зуба, снимая пораженные ткани» .
                <div class="reviews__page-author">Анатолий Анатольич</div> 
            </div>
            <div class="reviews__page">
                «Лечение кариеса проводится с использованием особо «щадящих» технологий. В расположении врача имеется необходимый набор современных инструментов, с помощью которых врач тщательно обрабатывает полость зуба, снимая пораженные ткани» ..
                <div class="reviews__page-author">Виктор Викторович</div> 
            </div>

        </div>

        <button class="reviews__btn reviews__btn--right">
            <img src="img/svg/arrow-green-right.svg" class="reviews__btn-ico an" alt="icon">
        </button>
   

        <div class="reviews__buttons">
            <div class="reviews__buttons-review an">НАПИСАТЬ ОТЗЫВ</div>
            <div class="reviews__buttons-allreview an">ПРОСМОТРЕТЬ ВСЕ ОТЗЫВЫ</div>
        </div>

    </div>
</section>



