<section class="services">
    <div class="services-container">
        <h2 class="services__title">НАШИ УСЛУГИ</h2>
        <div class="services__items">
            <div class="services__item">
                <div class="services__item-img">
                    <img src="img/svg/services_icons/Treatment.svg" class="services__item-ico" alt="">
                    <img src="img/svg/services_icons/Treatment-hover.svg" class="services__item-ico services__item-ico--hover" alt="">
                </div>
                <div class="services__item-name">ЛЕЧЕНИЕ
                    <span class="services__item-price">от 1500</span>
                </div>
            </div>
            <div class="services__item">
                <div class="services__item-img">
                    <img src="img/svg/services_icons/implant.svg" class="services__item-ico" alt="">
                    <img src="img/svg/services_icons/implant-hover.svg" class="services__item-ico services__item-ico--hover" alt="">
                </div>
                <div class="services__item-name">ИМПЛАНТАЦИЯ
                    <span class="services__item-price">от 5450</span>
                </div>
            </div>
            <div class="services__item">
                <div class="services__item-img">
                    <img src="img/svg/services_icons/prothesis.svg" class="services__item-ico" alt="">
                    <img src="img/svg/services_icons/prothesis-hover.svg" class="services__item-ico services__item-ico--hover" alt="">
                </div>
                <div class="services__item-name">ПРОТЕЗИРОВАНИЕ
                    <span class="services__item-price">от 3100</span>
                </div>
            </div>
            <div class="services__item">
                <div class="services__item-img">
                    <img src="img/svg/services_icons/Ortondont.svg" class="services__item-ico" alt="">
                    <img src="img/svg/services_icons/Ortondont-hover.svg" class="services__item-ico services__item-ico--hover" alt="">
                </div>
                <div class="services__item-name">ОРТОДОНТИЯ
                    <span class="services__item-price">от 1500</span>
                </div>
            </div>
            <div class="services__item">
                <div class="services__item-img">
                    <img src="img/svg/services_icons/kids.svg" class="services__item-ico" alt="">
                    <img src="img/svg/services_icons/kids-hover.svg" class="services__item-ico services__item-ico--hover" alt="">
                </div>
                <div class="services__item-name">ЛЕЧЕНИЕДЕТЕЙ
                    <span class="services__item-price">от 1000</span>
                </div>
            </div>
            <div class="services__item">
                <div class="services__item-img">
                    <img src="img/svg/services_icons/whitening.svg" class="services__item-ico" alt="">
                    <img src="img/svg/services_icons/whitening-hover.svg" class="services__item-ico services__item-ico--hover" alt="">
                </div>
                <div class="services__item-name">ОТБЕЛИВАНИЕ
                    <span class="services__item-price">от 500</span>
                </div>
            </div>
        </div>
    </div>
</section>