.reviews-box {
    display: flex;
    background-color: $color3;
    color: $color2;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 32px;

    &__item {
        margin: 32px;
        display: none;

        &--active {
            display: block;
        }
    }

    &__content-author {
        margin-top: 32px;
        font-style: italic;
    }

    &__arrow {
        @include button-arrow();
        background-color: $color4;
        width: 56px;
        
        &:hover {
            background-color: $color9;
        }
    }
}


/* --- анимация */
.reviews-box__arrow-ico--left.an--active {@include an-rotate(1.5s, -1.0turn);} 
.reviews-box__arrow-ico--right.an--active {@include an-rotate(1.5s, 1.0turn);} 
.reviews-box__content.an--active {@include animates('zoomIn', 1.5s);} 


