.reviews-container {
    @include wrap();
}

.reviews {

    &__box {
        background-color: $color3;
        color: $color2;
        font-size: 18px;
        font-weight: 100;
        height: 180px;
        margin: 0px 55px 32px;
        position: relative;
    }

    &__page {
        padding: 30px;
        height: calc(100% - 85px);
        opacity: 0;
        position: absolute;
        z-index: 0;
        transform: scale(1.08, 1);
        transition: transform ease-in-out .5s, opacity ease-in-out .5s;

        &.active {
            opacity: 1;
            z-index: 1;
            transform: scale(1);
        }

    }

    &__page-author {
        position: absolute;
        bottom: 0;
        font-style: italic;
    }

    &__btn {
        background-color: $color4;
        width: 56px;
        transition: .3s;
        border: none;
        position: absolute;
        height: 180px;
        top: 119px;
        z-index: 1;

        &--left {
            left: 15px;
        }

        &--right {
            right: 15px;
        }
        &:hover {
            cursor: pointer;
            transform: scale(1.015);
            background-color: $color9;
        }

        &:active {
            transform: scale(0.985);
        }
    }

    &__title {
    	@include title();
    }

    &__buttons {
        display: flex;
        @include container('btn');
        margin-bottom: 56px;
        font-size: 12px;
        justify-content: flex-start;
    }

    &__buttons-review {
        @include button(232px, 60px);
        background-color: $color6;
        color: $color1;
        margin-right:32px;

        &:hover {
            background-color: $color7;
            cursor: pointer;
        }
    }

    &__buttons-allreview {
        @include button(230px, 58px);
        border: 1px solid $color4;
        color: $color2;

        &:hover {
            background-color: $color4;
            cursor: pointer;
        }
    }
}


/* --- анимация */
// .reviews__btn--left.an--run {@include an-rotate(1.5s, -1.0turn);} 
// .reviews__btn--right.an--run {@include an-rotate(1.5s, 1.0turn);} 
.reviews__page.an--run {@include animates('zoomIn', 1.5s);} 

.reviews__title.an--run {@include animates('lightSpeedIn', 1.5s);} 
.reviews__btn-review.an--run{@include animates('jackInTheBox', 1.5s);} 
.reviews__btn-allreview.an--run{@include animates('jackInTheBox', 1.5s);} 

